.App {
	max-width: 900px;
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

form {
	padding: 10px;
	display: flex;
	align-items: center;
}

.form-edit-container {
	position: absolute;
    top: 0;
	background-color: rgba(230, 230, 230, 0.938);
	width: 100%;
    height: 100%;
    padding: 20%;
}

.form-edit {
	justify-content: space-around;
    max-width: 80%;
}

input {
	padding: 10px;
	width: 200px;
}

button {
	max-height: 30px;
	margin: 5px;
	padding: 6px;
}

.todo-list-container {
	width: 100%;
}

.item-container {
	max-width: 600px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 8px auto;
}

img {
	height: 25px;
	width: 25px;
}

.btn-group {
	width: 20%;
	display: flex;
	justify-content: space-between;
}

.btn-icon {
	border: none;
	padding: 0;
	background-color: transparent;
}

.done {
	text-decoration: line-through;
}
